body {
    background: url("/images/main-generator-wheel.jpg") no-repeat center center fixed;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn {
    margin-right: 960px;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#logo {
    width: 350px;
    margin-bottom: -35px;
}

.account {
    margin-left: 30%;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}